.challengeBoxContainer {
  height: 100%;

  background: var(--gray);

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  position: relative;
}

.challengeNotActive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challengeNotActive strong {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  font-family: Rajdhani;
  text-transform: uppercase;
}

.challengeNotActive p {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4;
  max-width: 78%;
  margin-top: 3rem;
}

.challengeNotActive p > svg {
  margin-bottom: 1rem;
  width: 5rem;
  height: 5rem;
  color: var(--orange);
}

.challengeActive {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.challengeActive header {
  color: var(--white);
  font-weight: 600;
  font-size: 1.25rem;
  font-family: Rajdhani;
  text-transform: uppercase;
  padding: 1rem 0;
}

.challengeActive main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1rem;
}

.challengeActive main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challengeActive main > div svg {
  width: 5rem;
  height: 5rem;
}

.challengeActive main strong {
  font-weight: 600;
  font-size: 2rem;
  font-family: Rajdhani;
  color: var(--orange);
  margin-top: 1.5rem;
}

.challengeActive main p {
  line-height: 1.5;
  color: var(--text);
  margin-bottom: 3rem;
}

.challengeActive footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.challengeActive footer button {
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;

  font-size: 1rem;
  font-family: Rajdhani;
  font-weight: 600;
  text-transform: uppercase;

  transition: all 0.2ms;
}

.challengeActive footer button.challengeFailedButton {
  color: var(--red);
  background: none;
}

.challengeActive footer button.challengeSuccededButton {
  color: var(--white);
  background: var(--orange);
}

.challengeActive footer button:hover {
  filter: brightness(0.9);
}
