.challengeBoxContainer {
    height: 100%;

    background: var(--white);
    border-radius: 5px;
    box-shadow: 8 0 68px rgba(0,0,0,0.5);
    padding: 1.5rem 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    position: relative;
}

.challengeNotActive {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challengeNotActive strong {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
}

.challengeNotActive p {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-width: 78%;
    margin-top: 3rem;
}

.challengeNotActive p > img {
    margin-bottom: 1rem;
}

.challengeActive {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.challengeActive header {
    color: var(--blue);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 2rem 1.5rem;
}

.challengeActive main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.challengeActive main strong {
    font-weight: 600;
    font-size: 2rem;
    color: var(--title);
    margin: 1.5rem 0 1rem;
}

.challengeActive main p {
    line-height: 1.5;
}

.challengeActive footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.challengeActive footer button {
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;

    font-size: 1rem;
    font-weight: 600;

    transition: all 0.2ms;
}

.challengeActive footer button.challengeFailedButton {
    color: var(--red);
    background: rgba(232, 63, 91, 0.15);
}

.challengeActive footer button.challengeSuccededButton {
    color: var(--green);
    background: rgba(76, 214, 43, 0.15);
}

.challengeActive footer button:hover {
    filter: brightness(0.9);
}

