.completedChallengesContainer {
  display: flex;
  flex-direction: column;

  margin: 3rem 0;

  font-weight: 500;

  border: 1px solid var(--gray);

  transition: all 150ms;
}

.completedChallengesContainer > div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--gray);

  padding: 0.5rem 1rem;
}

.completedChallengesContainer > div > span {
  font-family: Rajdhani;
  font-size: 1.5rem;
}

.completedChallengesContainer > div > span::before {
  content: "0";
  color: var(--gray-line);
}

.completedChallengesContainer > footer {
  padding: 0.25rem 1rem;
}

.completedChallengesContainer > footer span {
  font-size: 0.75rem;
  color: var(--text);
}
