.experienceBar {
  display: flex;
  align-items: flex-end;
  background: var(--gray);
  padding: 1rem;
}

.experienceBar span {
  font-size: 1rem;
}

.experienceBar > div {
  flex: 1;
  height: 10px;
  background: rgba(255, 109, 16, 0.5);
  margin-right: 0.5rem;
  position: relative;
}

.experienceBar > div > div {
  height: 10px;
  background: rgb(255, 109, 16);
  transition: all 800ms;
}

.experienceBar > p {
  padding: 0.75rem;
  height: 3.5rem;
  width: auto;
  background: rgba(255, 109, 16, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Rajdhani;
  font-weight: 600;
  font-size: 2rem;
  transition: all 1s;
}

.experienceBar > p > span {
  margin-left: 0.25rem;
  color: #ccc;
}

span.currentExperience {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
  transition: all 800ms;
}
